{% extends 'skeleton.html' %}{% block title %}TicketTracker - My Stuff - Add Fire Story{% endblock title %}
{% block page_header %}
		<div class="btn-toolbar pull-right">
			<a href="{% url web.my_stuff_story_fire %}" class="btn"><i class="icon-fire"></i> Add Fire</a>
		</div>
		<h2>My Stuff {% if not current_sprint %}Cannot Add Fire While No Sprint Is Active{% else %} - Add/Edit Fire Story{% endif %}</h2>
	</div>
{% endblock %}
{% block main %}
<div class="row-fluid">
	<div class="span5">
		<div class="well tt-side-wrap" id="tt-my-stuff">
			<h4>Stories</h4>
			{% include 'blocks/my_stories_list.html' %}
		</div>
	</div>
	<div class="span7">
		{% if current_sprint %}{% include 'blocks/my_stuff_fire.html' %}{% endif %}
	</div>
</div>
{% endblock main %}