{% load form_tags %}
<form action="{{ task_formset.action }}" method="post" id="tt-tasks" class="form-vertical">
	<fieldset>
		<legend>Tasks</legend>
		
		{% for form in task_formset.forms %}
			{% if form.non_field_errors|length %}{{ form.non_field_errors }}{% endif %}
				{% for field in form %}
				{% if not field.is_hidden %}
				<div class="control-group">
					{{ field }}
					<label class="control-label">{{ field.label }}</label>
					
				</div>
				{% endif %}
				{% endfor %}
		{% endfor %}
		
		{{ task_formset.management_form }}
		
		<div class="form-actions">
			{% csrf_token %}{% for form in task_formset.forms %}{% for field in form %}{% if field.is_hidden %}
			{{ field }}{% endif %}{% endfor %}{% endfor %}
			<input type="hidden" name="story_id" id="story_id" value="{{ story.id }}" />
			<input id="submit" name="submit" class="btn btn-primary" type="submit" value="Submit Changes" />
		</div>
	</fieldset>
</form>
